.property {    
    display: flex;
    font-size: 0.8rem;     
}
.property p {
    margin: 0;
    color: #FF8E00;
    font-family: Arial, Helvetica, sans-serif;
}
.propertyValue {
    color: #ffffff !important;
}