#component {
    display: flex;   
    justify-content: center;
    flex-flow: row wrap;
    max-height: 100%;
}

.recommended {
    display: flex; 
    flex-flow: row wrap;
    justify-content: flex-start;   
}