.side {
 background-color: #131212;   
 border: 2px solid black;
 height: 500px;    
}

.mc-auto{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.mc-auto:hover{
    color:#CB7101;
}

.padleft {
    padding-left: 20px;
    font-family: Arial black, Helvetica, sans-serif;
    color:#FF8E00;
}

.padleft:hover {
    color:#CB7101;
}

.textNavbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

.textNavbar:hover{
    color:#A4A29F;
}
