.carrouselSlider {
    position: relative;
    width: 96%;
    height: 92vh;
    margin: 2%;    
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselText {
    position: absolute;    
    color: #ffffff;
    z-index: 2;    
    white-space: normal;
    margin-top: 8%;
}

#buttonRegister {
    position: absolute;
    z-index: 3;
    width: 100%;    
}