.carrouselSlider {
    position: relative;
    width: 96%;
    height: 92vh;
    margin: 2%;    
    overflow: hidden;
    white-space: nowrap;
}

.sliderWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}